header{
    text-align: center;
    background-color: rgb(119, 4, 252);
    color: rgb(235, 235, 235);
    padding: 20px 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(14, 14, 14);
    background-color: rgb(195, 231, 255);
    margin: 0;
    padding: 0;
}

h2{
    color: blueviolet;
}